/* Définition des polices personnalisées */



/* Eléments principaux de la page */

body {
     display: flex;
       font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: solid
}
table{
    display: none;
    background-color:#edb90e ;
}
h1 strong {
    color: #edb90e;
}
h3 strong {
     text-decoration: underline;
      text-decoration-color: #edb90e;
}
h5 + h3  {
    padding-left: 600px;
}
#bloc_gauche
{
    background: url('images/fond-jaune.jpg');
    width: 30%;
}
hr {
    margin-left:0px;
     width: 100%;
     height: 2px;
     background : #edb90e;
}
.content{
    padding: 10px 40px 0px 40px;
}

#bloc_gauche + div {
    background-color: white;
    width: 70%;
}
#bloc_gauche article h2, thead{
   
    background-color: black;
    color : #edb90e ;
  
    
}

#bloc_gauche{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

h2, h3, h1 {
     text-transform: uppercase;
     text-align: center;
     
}
#contact li, table li {
    list-style-type: none;
   
    margin-bottom: 1em;
}

i.fas {
    font-size:46px; 
    color : yellow;
   justify-self: stretch;

}


section h2{
    text-align: left;
}

li label {
    padding-right: 100px;
}
section  li {
    list-style:  circle   url('images/fond_li_3.jpg');
   

}

section li label {
    display : block;
    text-align: left;
}
section li h5 {
    display : block;
    text-align: left;
}
section li h3 {
    display : block;
    text-align: left;
    
}
section li p {
    display : block;
    
    padding-left: 20%;
    text-align: left;
}
li.encours {
    list-style:  circle   url('images/fond_li_2.jpg');
    margin-left: 0em;
}

  .roundedImage{
      background:url('images/moumie.jpg') no-repeat -100px -100px ; 
    overflow:hidden;
    border:solid yellow ;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    
    border-radius:50%;
    width:18em;
    height:18em;
   
   margin: auto;
}
footer {
    bottom: 12px;
}

section ul li{
    text-align: right;
    clear: both;
}
ul li label {
    float: left;
  }
  ul li h5 {
    text-align: center;
  }

  ul li p {
    text-align: center;
  }

  div.webmastering  li{
      text-align: left;
  }

  #a_propos {
      height: 40%;
  }
 
  div.recommandations  {
   
    display: flex;
     
        margin-left: 4em;
        flex-direction: row;
       float: left;

  }

  div.recommandations strong {
    text-transform: uppercase;
  }
 
@media all and (max-width: 1024px)
{
    body {
        display: flex;
          font-family: 'Trebuchet MS', Arial, sans-serif;
       color: #181818;
     width: 95%;
     margin: auto;
  
     border: none;
     
     flex-direction: column;
     justify-content: center;
   }
  
    td.roundedImage{
     /*   background:url(images/Ruben-um-nyobe.jpg) no-repeat 0px 0px;  border:4px solid yellow ;*/
     background:url('images/moumie.jpg') no-repeat  ;
     overflow:hidden;
    
     border-radius:0%;
     color: yellow;
     background-size: 100% 100%;
    
    margin: auto;
    
    }

    #contact li {
        list-style-type: none;
        margin-bottom: 0;
    }
    
    
    #bloc_gauche{
        display:  none;
        width: 0%;
    }

    #main{
        width: 100%;
    }

    body
    hr {
        margin:0px 0px;
         width: 130%;
         height: 2px;
         background : #edb90e;
    }
    
    table{
        display: inline;
        background-color:#edb90e ;
    }
   

    thead {
     text-align:center ;
     text-transform: uppercase;
    }
  
}

