/* Définition des polices personnalisées */



/* Eléments principaux de la page */

body {
     display: flex;
       font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: solid
}
h1 strong {
    color: yellow;
}
h3 strong {
     text-decoration: underline;
      text-decoration-color: yellow;
}
h5 + h3  {
    padding-left: 600px;
}
aside
{
    background: url('images/fond-jaune.jpg');
    width: 30%;
}
hr {
    margin-left:0px;
     width: 100%;
   color : midnightblue;
}
.content{
    padding: 10px 40px 0px 40px;
}

aside + div {
    background-color: white;
    width: 70%;
}
aside article h2{
   
    background-color: black;
    color : yellow ;
    
}
.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:100px;
    width:200px;
    height:200px;
   margin: auto;
}

h2, h3, h1 {
     text-transform: uppercase;
     text-align: center;
     
}
#contact li {
    list-style-type: none;
}

i.fas {
    font-size:46px; 
    color:yellow;
   justify-self: stretch;

}
section h2{
    text-align: left;
}

li label {
    padding-right: 100px;
}
section  li {
    list-style: square;

}
li.encours {
    list-style : url('images/bulle.png');
}

@media all and (max-width: 1024px)
{
    .roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:25%;
    width:50%;
   
   margin: auto;
}
    section
    {
        flex-direction: column;
    }

    article, aside
    {
        width: auto;
        margin-bottom: 15px;
    }
    
    #fleche_bulle
    {
        display: none;
    }
    
    #photo_zozor img
    {
        width: 110px;
        float: right;
        margin-left: 15px;
    }
    
    aside p:last-child
    {
        text-align: center;
    }
}